<ion-tabs>

<!--   <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Tab One</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="send"></ion-icon>
      <ion-label>Infos</ion-label>
    </ion-tab-button>
  </ion-tab-bar> -->

</ion-tabs>
