<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div text-center class="test" *ngIf="home">
	<div>
	 	<img src="../../assets/logo3.png" style="width : 60% ; height : 60%"  >
	 </div>
	 <div style="margin-top: 18%" class="animated infinite pulse slow">
	 	<img src="../../assets/btn_start.png" style="width : 70% ; height : 70%"  (click)="startQuiz()">
	 </div>
 </div>
  <div text-center class="start-quiz" *ngIf="start">
 	<!-- <div class="frage">
 	   Which is the largest country in the world by population?
 	</div> -->
 	<div class="score-data">
 		<ion-grid>
      		<ion-row>
      			<ion-col size="6">
      				<ion-text>Score: {{ score }}</ion-text>
      			</ion-col>
      		</ion-row>
      	</ion-grid>
 		
 	</div>
 	<div class="frage2" [ngClass]="{'animated zoomIn fast': loadQuestion===true}">
 	   <img src="../../assets/btn.png" style="height: 12vh;">
 	   <div class="centereda2"> {{ currentQuestion.question }}</div>
 	</div>
 	<div text-center class="timer">
 		<div class="outside-timer">
 			<div class="inside-timer" [style.width]="varWidth"></div>
 		</div>
 	</div>
 	<div class="answers">
 		<div class="ans animated zoomIn fast" *ngFor="let option of currentQuestion.options ; let i = index">
 			<img src="../../assets/btn_klein_true_2.png" class="animated fadeIn faster" style="width : 70% ; height : 100%" *ngIf="optionsImgTrue[i]" >
 			<img src="../../assets/btn_klein_false.png"  class="animated fadeIn faster"  style="width : 70% ; height : 100%" *ngIf="optionsImgFalse[i]" >
 			<img src="../../assets/btn_klein.png" style="width : 70% ; height : 100%" (click)="handleAnswer2(i)" *ngIf="optionsImgTrue[i] === false && optionsImgFalse[i] === false" >
 			<div class="centereda" (click)="handleAnswer2(i)"> {{ option }}</div>
 		</div>
 		<!-- <ion-button padding color="tertiary" class="responsive-btn" (click)="nextQuestion()" >Next</ion-button> -->
 	</div>
 </div>

 <div text-center class="score-page" *ngIf="endQuiz">
 		 <div class="end-quiz"> 
 		 	<img src="../../assets/btn.png" style="height: 12vh;">
 	   		<div class="score-page-text"> 
 	   			Quiz is over 
 	   			<br>
 	   			Your Score: {{ score }}
 	   		</div>
 		 </div>
 		 <div class="end-quiz"  (click)="playAgain()" > 
 		 	<img src="../../assets/btn.png" style="height: 6vh;">
 	   		<div class="score-page-text"> Play Again</div>
 		 </div>
 </div>
 <div class="footer" *ngIf="start === true || endQuiz === true">
 		<ion-grid>
      		<ion-row>
      			<ion-col size="3" offset-xs="1">
      				<img src="../../assets/btn_home.png" (click)="goHome()">
      			</ion-col>
      			<ion-col size="3" offset-xs="1" *ngIf="soundMute === false">
      				<img src="../../assets/btn_sound.png" (click)="toggelMuteSound()">
      			</ion-col>
      			<ion-col size="3" offset-xs="1" *ngIf="soundMute === true">
      				<img src="../../assets/btn_sound_mute.png" (click)="toggelMuteSound()">
      			</ion-col>
      			<ion-col size="3" offset-xs="1">
      				<img src="../../assets/btn_back.png">
      			</ion-col>
      		</ion-row>
      	</ion-grid>
 </div>


</ion-content>



<style type="text/scss">

	ion-content {
	  
	  --background: url(../../assets/bg_africa.png) no-repeat center/cover fixed;
	}

	.btn {
	  
	  --background: url(../../assets/btn.png) no-repeat center/cover fixed;
	}
</style>

<style type="text/css">
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
	.test{
		margin-top: 20%;
	}
	.score-data{
		margin-top: 5%;
		font-family: "Comic Sans MS", cursive, sans-serif;
		font-weight: bold;
		color: #fdbb04;
		text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
		font-size: 2.8vh;

	}
	.start-quiz{
		margin-top: 6%;
	}
    .footer{
    	margin-top: 6%;
    }
	.btn {
	  
	  background: url(../../assets/btn.png) no-repeat center/cover fixed;
	}
	.score-page{
		margin-top: 28%;
		margin-bottom: 20%;
	}
	.frage{
		margin-top: 8%;
		border-radius: 10px;
		border:0.3vh solid #f8b002;
		/*background: rgba(0, 0, 0, 0.5);*/
		background-color: #b20503;
		color: #000;
		padding-top: 5%;
		padding-bottom: 5%;
		padding-left: 2%;
		padding-right: 2%;
		/*font-family: "Comic Sans MS", cursive, sans-serif;*/
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: bold;
		/*font-style: italic;*/
		font-size: 2.8vh;
		/*opacity: 0.5;*/
	}
	.ans{
		 position: relative;
		 margin-top: 3%;
		 /*border: 1px solid blue;*/
		 height: 10vh;

	}
	.frage2{
		 position: relative;
		 font-family: 'Source Sans Pro', sans-serif;
		font-weight: bold;
		/*font-style: italic;*/
		font-size: 2.8vh;
		 /*border: 1px solid blue;*/

	}
	.end-quiz{
		position: relative;
		margin-top: 20%;
	}
	.answers{
		 margin-top: 6%;
	}
	.centereda {
  position: absolute;
  top: 44%;
  left: 50%;
  color: #e7e7e7;
  transform: translate(-50%, -50%);
  /*font-family: "Comic Sans MS", cursive, sans-serif;*/
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  font-weight: bold;
  /*font-style: italic;*/
  font-size: 2.8vh;
}

	.centereda2 {
  position: absolute;
  top: 36%;
  left: 40%;
  width: 80%;
  color: #e7e7e7;
  transform: translate(-40%, -40%);
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  font-weight: bold;
  /*font-style: italic;*/
  font-size: 2.4vh;
}

.score-page-text{
  position: absolute;
  top: 36%;
  left: 40%;
  width: 80%;
  color: #e7e7e7;
  transform: translate(-40%, -40%);
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  font-weight: bold;
  /*font-style: italic;*/
  font-size: 3.4vh;
}

.outside-timer{
	/*background-color: #000;*/
	background: rgba(0, 0, 0, 0.7);
	/*background: rgba(171, 5, 3, 1);*/
	width: 80%;
	margin: auto;
	padding:2%;
	border-radius: 2px;
}

.inside-timer{
	background-color: #f79d03;
	width:100%;
	height:2.1vh;
	border-radius: 3px;
	
}

</style>